:root {
  --black-color: #000;
  --white-color: #fff;
  --yellow-color: #ffff00;
  --vertical-margin: 3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 2000px;
}

.body_page {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100vh auto;
}

  /*menu*/
  .menu {
    display: none;
    background-color: #0000ff;
  }

  .menu ul li {
    list-style: none;
  }

  .option_sections li:last-child {
    background-color: #ff0000;
  }

  .option_sections li:last-child:hover {
    background-color: #fd5050;
  }

  .option_sections li:hover {
    background-color: #3a40fd;
  }

  .menu ul li a {
    text-decoration: none;
    color: var(--white-color);
    padding: 1em 1em;
  }

  .option_sections {
    padding-top: 7.2em;
  }

  .option_sections li a{
    display: block;
  }

  .option_shop {
    display: flex;
    justify-content: center;
  }

  /*header info*/
  .header_info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    height: 3em;
    text-align: center;
    padding: 1em;
  }

  .header_info a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_info a span img{
    max-height: 1.5em;
  }

  /*navbar*/
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 3px 0px rgba(0,0,0,0.5);
  }

  /*navbar menu*/
  .navbar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-left: 1em;
  }

  .navbar_menu a {
    text-decoration: none;
    color: var(--black-color);
  }

  .navbar_menu figure img {
    height: 1.5em;
    width: 2.5em;
    color: var(--black-color);
  }

  .navbar_menu figure figcaption {
    font-size: 0.85em;
  }

  /*navbar search*/
  .navbar_search {
    display: flex;
    align-items: center;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar_search > a {
    font-weight: bold;
    text-decoration: none;
    color: var(--white-color);
    padding: 0.2em 0.5em;
    margin-right: 2em;
    margin-left: 4em;
    background-color: #0C15FE;
  }

  form {
    display: flex;
    align-items: center;

  }
  form input{
    padding: 0.5em;
  }

  #search {
    width: 20em;
  }

  #search:focus {
    outline: none;
  }

  input::placeholder {
    text-transform: uppercase;
  } 
  form button img {
    height: 1.9em;
  }
  
  /*navbar options*/
  nav ul {
    display: flex;
    align-items: center;
  }

  .navbar ul li {
    display: flex;
    list-style: none;
  }

  .navbar ul li a img {
    height: 30px;
  }
  
  nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    height: 4.2em;
    width: 4em;
  }

  .navbar_options a{
    margin-left: 1em;
  }

  .navbar_options a:last-child{
    margin-right: 1em;
  }

  /*carousel*/
  .main_banner {
    display: flex;
    justify-content: center;
  }

  .carousel-images {
    z-index: -1;
    width: 90%;
  }

  .carousel-images img {
    width: 100%;
    height: 80vh;
  }

  /*section tags*/
  .section_tags {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
    margin: var(--vertical-margin) auto;
  }

  .section_tags li{
    list-style: none;
    background-color: #ccc;
    border-radius: 5px;
    padding: 8px;
  }

  .section_tags li:hover{
    background-color: #7a7a7a;
  }
  
  .section_tags li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
  }

  /*images sections cards*/
  .image_sections {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 6fr 1fr;
    gap: 0 2em;
  }

  .image_sections li {
    list-style: none;
  }

  .image_sections li a {
    text-decoration: none;
    color: var(--black-color);
  }

  .image_sections li a img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }


/*md screen*/
@media screen and (min-width: 768px) and (max-width: 1199px) {

}

/*sm screen*/
@media screen and (min-width: 320px) and (max-width: 767px) {

}
