:root {
  --black-color: #000;
  --white-color: #fff;
  --yellow-color: #ffff00;
  --blue-color: #0000ff;
  --vertical-margin: 3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 2000px;
}

.body_page {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1 / 2;
}

  /*menu*/
  .menu {
    display: none;
    background-color: var(--blue-color);
  }

  .menu ul li {
    list-style: none;
  }

  .option_sections li:last-child {
    background-color: #ff0000;
  }

  .option_sections li:last-child:hover {
    background-color: #fd5050;
  }

  .option_sections li:hover {
    background-color: #3a40fd;
  }

  .menu ul li a {
    text-decoration: none;
    color: var(--white-color);
    padding: 1em 1em;
  }

  .option_sections {
    padding-top: 7.2em;
  }

  .option_sections li a{
    display: block;
  }

  .option_shop {
    display: flex;
    justify-content: center;
  }

  /*header info*/
  .header_info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    height: 3em;
    text-align: center;
    padding: 1em;
  }

  .header_info a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_info a span img{
    max-height: 1.5em;
  }

  /*navbar*/
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 3px 0px rgba(0,0,0,0.5);
  }

  /*navbar menu*/
  .navbar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-left: 1em;
  }

  .navbar_menu a {
    text-decoration: none;
    color: var(--black-color);
  }

  .navbar_menu figure img {
    height: 1.5em;
    width: 2.5em;
    color: var(--black-color);
  }

  .navbar_menu figure figcaption {
    font-size: 0.85em;
  }

  /*navbar search*/
  .navbar_search {
    display: flex;
    align-items: center;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar_search > a {
    font-weight: bold;
    text-decoration: none;
    color: var(--white-color);
    padding: 0.2em 0.5em;
    margin-right: 2em;
    margin-left: 4em;
    background-color: var(--blue-color);
  }

  form {
    display: flex;
    align-items: center;

  }
  form input{
    padding: 0.5em;
  }

  #search {
    width: 20em;
  }

  #search:focus {
    outline: none;
  }

  input::placeholder {
    text-transform: uppercase;
  } 
  form button img {
    height: 1.9em;
  }
  
  /*navbar options*/
  nav ul {
    display: flex;
    align-items: center;
  }

  .navbar ul li {
    display: flex;
    list-style: none;
  }

  .navbar ul li a img {
    height: 30px;
  }
  
  nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    height: 4.2em;
    width: 4em;
  }

  .navbar_options a{
    margin-left: 1em;
  }

  .navbar_options a:last-child{
    margin-right: 1em;
  }

  /*carousel*/
  .main_banner {
    display: flex;
    justify-content: center;
  }

  .carousel-images {
    z-index: -1;
    width: 90%;
  }

  .carousel-images img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }

  /*section tags*/
  .section_tags {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
    margin: var(--vertical-margin) auto;
  }

  .section_tags li{
    list-style: none;
    background-color: #ccc;
    border-radius: 5px;
    padding: 8px;
  }

  .section_tags li:hover{
    background-color: #7a7a7a;
  }
  
  .section_tags li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
  }

  /*images sections cards*/
  .image_sections {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 6fr 1fr;
    gap: 0 2em;
  }

  .image_sections li {
    list-style: none;
  }

  .image_sections li a {
    text-decoration: none;
    color: var(--black-color);
  }

  .image_sections li a img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  /*Produtos Seção 1*/
  .products_section1,
  .products_section2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:  repeat(2, 300px);
    gap: 2em 2em;
    margin-top: var(--vertical-margin);
  }

  .products_section1 li,
  .products_section2 li {
    list-style: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
  }
  
  .products_section1 li a,
  .products_section2 li a {
    text-decoration: none;
  }

  .price {
    letter-spacing: 0.1em;
    font-weight: bold;
    display: block;
    background-color: var(--yellow-color);
    padding: 5px 8px;
    border-radius: 6px;
    margin-left: auto;
    width: fit-content;
    position: absolute;
    top:5px;
    right: 5px;
  }

  .offer-price {
    background-color: #ff0000;
    position: absolute;
    top: 17px;
    right: 5px;
  }

  .original-price {
    text-decoration: line-through;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 5px;
  }

  .original-price span {
    text-decoration: none;
    color: #ff0000;
  }

  .products_section1 li a img,
  .products_section2 li a img {
    display: block;
    width: 100%;
    height: 50%;
    margin: 30px auto 0 auto;
  }

  h3 {
    margin-top: 0.5em;
    font-size: 1em;
    text-align: center;
    color: var(--black-color);
    text-transform: uppercase;
  }

  .products_section1 li a p,
  .products_section2 li a p {
    margin: 0.2em 0.7em;
    font-size: 0.7em;
    text-align: center;
    color: var(--black-color);
    text-transform: uppercase;
  }

  .mini-banner {
    background-image: url('./images/mini-banner-option1.jpg');
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 4;
    grid-column-end: -1;
    border-radius: 5px;
    border: none;
  }

  .mini-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .products_section1 {
    margin-bottom: var(--vertical-margin);
  }

  /*Products Section 2*/
  .products_section2 {
    margin-top: var(--vertical-margin);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .mini-banner2 {
    background-image: url("./images/mini-banner-section1.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }

  /*brands section*/
  .brands > p {
    margin-top: var(--vertical-margin);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .best_brands {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
    margin: var(--vertical-margin) auto;
  }

  .best_brands li{
    list-style: none;
    border-radius: 5px;
    padding: 8px;
    height: 100%;
    border: 1px solid #ccc;
    background-color: #ffffff;
  }

  .best_brands li a img {
    width: 100%;
    height: 100%;
  }

  .best_brands li a img:first-child {
    height: 70px;
  }

  .best_brands li:last-child a img {
    height: 25px;
  }

  .best_brands li:nth-child(4) a img {
    height: 45px;
  }

  .best_brands li:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .best_brands li:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*Footer*/
  footer ul {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
    gap: 1em;
    list-style: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 1em;
  }

  footer ul li {
    text-align: center;
  }

  footer ul li:last-child {
    font-size: 0.8em;
    text-transform: capitalize;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }


/*md screen*/
@media screen and (min-width: 768px) and (max-width: 1199px) {

}

/*sm screen*/
@media screen and (min-width: 320px) and (max-width: 767px) {

}
